{% extends 'main.html'%}

{% block title %}
    PetDetail / PetMedic
{% endblock %}

{% block content %}

<h1> {{pet}} Pet Detail {{pet.id}} </h1>
<br>
<a href="{% url 'pet_list' %}"> Go Back</a>
<br>
<br>
<div>
        <table class="table table-hover">
          <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type Animal</th>
                <th scope="col">Raze</th>
                <th scope="col">Gender</th>
                <th scope="col">Description</th>
                <th scope="col">Birth Day</th>
                <th scope="col">Fhoto</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
                <th scope="row">{{pet.id}}</th>
                <td>{{pet.name}}</td>
                <td>{{pet.type_animal}}</td>
                <td>{{pet.raze}}</td>
                <td>{{pet.gender}}</td>
                <td>{{pet.description}}</td>
                <td>{{pet.birth_day}}</td>
                <td>{{pet.picture}}</td>

                <td><a href="{% url 'vaccine_list' pet.id %}">Vacines</a> </td>
                <td><a href="{% url 'process_list' pet.id %}">Processes</a> </td>
                <td><a href="{% url 'pet_update' pet.id %}">Update</a> </td>
            </tr>
        </table>
    <br>
        <a href="{% url 'pet_delete' pet.id %}">Button Delete</a>
</div>

{% endblock %}