{% extends 'main.html'%}

{% block title %}
    PetList / PetMedic
{% endblock %}

{% block content %}

<h1>Pet List </h1>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>
 <br>

<a href="{% url 'pet_create' %}">Add New Pet</a>


<br>
<br>

<div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Type Animal</th>
              <th scope="col">Gender</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
          {% for pet in pets %}
            <tr class="table-active">
                <th scope="row">{{pet.id}}</th>
                <td>{{pet.name}}</td>
                <td>{{pet.type_animal}}</td>
                <td>{{pet.gender}}</td>
                <td><a href="{% url 'pet_detail' pet.id %}">Button Detail</a></td>

            </tr>
            {% empty %}
            <h3> No pet in List </h3>
            {% endfor %}
        </table>
    </div>

{% endblock %}